body,
input,
select,
.input-group-text {
    font-size: 0.9rem !important;
    background: #f5f6f8;
}

.input-group>.input-group-append:not(:last-child)>.input-group-text {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.input-group>.form-control:not(:first-child) {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
button,
label,
pre,
.btn,
.sidebar,
.compose,
.dropdown-item,
.navbar-brand {
    font-family: 'DM Sans', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

.none {
    display: none;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

.mdi {
    padding-right: 10px;
}

.mdi-status {
    line-height: 1.2;
}

.mdi-only {
    padding-right: 0 !important;
}

.rounded {
    border-radius: 10px !important;
}

.bg-eoffice {
    background-color: rgba(0, 123, 255, .1);
}

.state {
    height: 70vh;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
    z-index: 4;
}

.password {
    position: absolute;
    right: 0px;
    top: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.5);
    padding: 4px 12px;
}

.notification {
    position: absolute;
    top: 8px;
    left: 25px;
    width: 15px;
    height: 15px;
    border: 3px solid #f8f9fa;
    border-radius: 50%;
    background-color: #007bff;
}

.main {
    margin-left: 230px;
    padding: 80px 15px 30px 15px;
}

.container-compose {
    padding-bottom: 50px;

}

.navbar {
    position: fixed;
    z-index: 4 !important;
    width: 100%;
}

.navbar a {
    text-decoration: none;
}

.dropdown .dropdown-menu {
    min-width: 250px;
    max-width: 250px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
}

.dropdown-menu .dropdown-item {
    padding: 10px 16px;
    font-size: 0.9rem;
    position: relative;
    padding-right: 16px;
}

.dropdown-menu .dropdown-item i {
    position: absolute;
    top: 18%;
}

.dropdown-menu .dropdown-item span {
    padding-left: 32px;
}

.dropdown-item.active {
    color: #000;
    background-color: rgba(0, 123, 255, .1) !important;
}

.dropdown-menu .dropdown-item:not(:last-child):hover {
    background-color: rgba(52, 58, 64, .03);
}

.dropdown-menu .dropdown-item:focus {
    color: black;
    background-color: rgba(52, 58, 64, .03);
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow: auto;
    padding-bottom: 100px;
    transition: 0.2s;
    background-color: #fff;
    border-right: 1px solid #eaebef;
    box-shadow:
        0 2px 0 rgb(90 97 105 / 11%),
        0 4px 8px rgb(90 97 105 / 12%),
        0 10px 10px rgb(90 97 105 / 6%),
        0 7px 70px rgb(90 97 105 / 10%);
}

.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    color: #707070;
    display: flex;
    align-items: center !important;
}

.sidebar a:hover {
    color: #000;
    background-color: rgba(52, 58, 64, .03);
}

.sidebar .active {
    color: #007bff;
    background-color: rgba(52, 58, 64, .03);
    box-shadow: inset 0.1875rem 0 #007bff;
}

.sidebar .active:hover {
    color: #007bff;
    background-color: rgba(52, 58, 64, .03);
    box-shadow: inset 0.1875rem 0 #007bff;
}

.sidebar small {
    display: flex;
    padding: 0 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar-create {
    padding: 16px;
}

.sidebar-create a {
    font-size: 17px;
    padding: 0;
}

.card-custom {
    /*height: 100%;*/
    color: #000;
    border: none;
    border-radius: 6px;
    box-shadow:
        0 2px 0 rgb(90 97 105 / 11%),
        0 4px 8px rgb(90 97 105 / 12%),
        0 10px 10px rgb(90 97 105 / 6%),
        0 7px 70px rgb(90 97 105 / 10%);
}

.card-custom:hover {
    /*background-color: rgba(52, 58, 64, .01);*/
}

.card-height {
    height: 100%;
}

.card-header {
    background-color: #fff !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.card-footer {
    background-color: #fff !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.box-row {
    color: #444;
    padding: 10px 16px;
    border-radius: 6px;
    position: relative;
}

.box-row:hover {
    background-color: rgba(52, 58, 64, .03);
}

.box-title,
.box-desc,
.box-type,
.box-date {
    padding-left: 0;
}

.box-date-sm {
    position: absolute;
    right: 16px;
    top: 17px;
}

.box-container {
    margin: 0 -15px;
}

.customAlert {
    min-width: 190px;
    height: 50px;
    position: fixed;
    left: 20px;
    bottom: -100px;
    padding: 0 15px;
    color: #fff;
    z-index: 4;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.8);
}

.compose {
    z-index: 3;
    position: fixed;
    right: 30px;
    bottom: 20px;
}

.compose .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 100px;
}

.btn-link:hover {
    text-decoration: none;
    background-color: rgba(0, 123, 255, .1);
}

.form-check {
    padding-top: 5px;
}

th:first-child {
    width: 1%;
}

th:first-child,
td:first-child {
    padding-left: 1.5rem !important;
}

th:last-child {
    width: 1%;
}

th:last-child,
td:last-child {
    padding-right: 1.5rem !important;
}

.table {
    margin-bottom: 0;
}

.table thead th {
    border-bottom: none;
}

.table-middle td {
    vertical-align: middle !important;
}

.table-custom {
    margin-left: -1px;
    margin-right: -1px;
}

.page-link i {
    padding-right: 0;
}

.page-link i::before {
    line-height: normal !important;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.trash {
    font-size: 0;
    cursor: pointer;
}

.form-close {
    position: absolute;
    right: -1.7rem;
    top: 0px;
    padding: 4px 9px 8px 9px;
    cursor: pointer;
}

.form-close:hover {
    background: #eee;
    border-radius: 100px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}


/* Extra Large */
@media screen and (max-width: 1199px) {
    .box-date-sm {
        top: 12px;
    }
}


/* Large */
@media screen and (max-width: 991px) {
    .box-title {
        padding-right: 75px;
    }

    .sidebar {
        left: -230px;
        z-index: 5;
    }

    .sidebar small {
    	margin-top: 15px;
    }

    .main {
        padding: 0;
        padding-top: 70px;
        padding-bottom: 15px;
        margin-left: 0;
    }

    .container-compose {
        padding-bottom: 65px !important;
    }

    .box-row .box-title,
    .box-row .box-desc {
        width: 100%;
    }
}

/* Small */
@media screen and (max-width: 767px) {
    .customAlert {
        left: 0px;
        bottom: -120px;
        width: 100%;
        border-radius: 0;
    }
}

/* Extra Small */
@media screen and (max-width: 576px) {
    .box-row {
        border-radius: 0;
    }

    .dropdown .dropdown-menu {
        width: 100% !important;
        /*height: 100vh;
    	border-radius: 0 !important;*/
    }

    .dropdown-menu-right {
        /*left: 0;*/
        width: 100% !important;
        /*right: -18px;
    	top: -18px;*/
    }

    .compose {
        right: 15px;
    }
}
